p.content {
	text-align:center;
	font-family: 'Cabin', sans-serif;
	text-transform:uppercase;
	font-size: xx-large;
	color: white;
	background-color: red;
	width: 250px;
	margin-left: auto ;
	margin-right: auto ;
} 

p.content > span {
	font-size: small;
}